<div class="auth-container">
  <div class="auth-card">
    <h3>{{ isLoginMode ? "Welcome back" : "Register" }}</h3>
    <div class="center-card">
      <form
        [formGroup]="isLoginMode ? formGroupLogin : formGroupRegister"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="username"
            id="username"
            formControlName="username"
            required
            placeholder="Username"
          />
        </div>
        <!-- Email Field (Only for Registration) -->
        <div class="form-group" *ngIf="!isLoginMode">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            required
            placeholder="Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            autocomplete
            required
            placeholder="Password"
          />
        </div>
        <button
          type="submit"
          class="btn primary-btn"
          [disabled]="checkIfDisabled()"
        >
          {{ isLoginMode ? "Sign in" : "Sign up" }}
        </button>

        <div class="signup-link">
          {{
            isLoginMode ? "Don't have an account?" : "Already have an account?"
          }}
          <button
            type="button"
            (click)="onSwitchMode()"
            class="btn secondary-btn"
          >
            {{ isLoginMode ? "Sign up" : "Sign in" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
