<div class="chat-container">
  <div class="chat-box">
    <div class="chat-header">
      <h2>Chat with Chatbot</h2>
    </div>

    <div class="chat-history" *ngIf="chatHistory.length > 0">
      <div *ngFor="let message of chatHistory" class="chat-message">
        <div class="user-message">
          <div class="user-header">
            <strong>You:</strong>
            <small>{{ message.created_at | date : "short" }}</small>
          </div>
          <div
            class="text-message"
            [innerHTML]="message.user_message | formatText"
          ></div>
        </div>
        <div class="bot-message" *ngIf="message.chatbot_response">
          <div class="bot-header">
            <strong>Chatbot:</strong>
            <div
              class="text-message"
              [innerHTML]="message.chatbot_response | formatText"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <form (ngSubmit)="sendMessage()" [formGroup]="chatForm" class="chat-input">
      <input
        type="text"
        name="message"
        formControlName="user_message"
        required
        placeholder="Type your message here..."
      />
      <button type="submit" [disabled]="!chatForm.valid || isLoading">
        Send
      </button>
    </form>
  </div>
  <div class="logout-container">
    <button class="logout-button" (click)="logout()">Logout</button>
  </div>
</div>
